<form>
  <div>
      <label>Nome</label>
      <input type="text" name="nome" [(ngModel)]="usuario.nome"/> <br><br>
  </div>
  <div>
      <label >Email</label>
      <input type="email" name="email" [(ngModel)]="usuario.email"/><br><br>
      {{usuario | json}}
  </div>
  <div>
    <button (click)="salvar()">Salvar</button>
  </div>
</form>